.Class {
    // display: flex;
    // justify-content: center;
    // position: relative;
    // width: 100%;

    .container {
        h2 {
            text-align: center;
        }

        .form-check {
            margin-top: 1rem;
            width: 300px;

            .button {
                // display: inline-block;
                // width: 100px;
            }
        }
    }

    .body {


        .main {

            &:hover {
                animation: bounce;
                animation-duration: 2s;
            }



            .card {
                .card-img-top {
                    object-fit: cover;
                    padding: 0.5rem;
                    // background-color: rgba($color: #000000, $alpha: 0.1);


                    .content {
                        display: flex;
                    }

                }


                .card-body {
                    .card-title {
                        font-weight: 700;
                    }

                    .card-value {
                        color: rgba($color: #000000, $alpha: 0.5)
                    }
                }
            }
        }
    }


}